.overlay{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #00003A;
    background-color: rgb(5, 3, 43);
    height: 630px;
    z-index: -1;
}
.top-container img{
    background-repeat: no-repeat;
    background-size: contain;
}
.body-top-absolute{
    position: absolute;
    left: 70%;
    top: 60%;
}
.body-top-absolute h1,
.body-top-absolute h4,
.body-top-absolute li{
    color: #fff !important;
}
.body-top-absolute ul{
    margin-top: 18px;
    list-style-type: georgian;
    list-style-type: square;
}
.body-top-absolute h3,
.body-top-absolute button{
    position: relative;
}
.body-top-absolute button{
    padding: 18px;
    border: none;
    cursor: pointer;
    background-color: #FF8C00;
    color: #fff !important;
    font-size: 15px;
    border-radius: 5px;
    transition: all .4s;
    margin-top: 10px;
}
.body-top-absolute button:hover{
    padding-right: 16px;
    font-size: 13px;
}
#about-header,
#contact-header{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
#contact-header{
    margin-top: 90px;
}
.ab-inner{
    width: 80%;
    margin: 24px 0 0 4%;
    box-shadow:0 0 14px 0 rgba(0,0,0,.1);
    padding: 100px;
    border-radius: 7px;
    background-color: transparent;

}
.ab-inner #ab-core{
   text-align: justify;
   font-size: 1.3em;
}
#contact-body{
    display: flex;
    width: 100%;
}
#contact-body div{
    width: 45%;
    margin: 5%;
    padding: 15px;
    box-shadow:0 0 14px 0 rgba(0,0,0,.1);
}
.ct-address #ct-b,
.ct-contact #ct-b{
    background-color: #00003A;
    color: #fff !important;
    font-size: 20px;
    border-radius: 6px;
}
.ct-address{
    
}


